body{
    background: lightblue;
    opacity: 1;
}
h1 {
    color: red;
    opacity: 0.7;
    text-align: center;
}

#principal {
    border: 10px solid lightcoral;
    
    border-style: groove;

    font-family: 'Lobster Two', cursive;
    font-size: 50px; 
}

#menu {
    float: right;
    background: hsl(0,89%,82%);
    border: 1px solid lightcoral;
    padding: 15px;
    font-family: Piedra;
}

#conteudo {
    float: left;
    background: rgb(247, 207, 207);
    padding: 10px;
    text-align: justify;
}

.centralizar {
    text-align: center;
}

a {
    color: red;
    text-decoration: none;
    opacity: 1.0;
    font-weight: bold;
    padding: 10px;
    font-size: 30px;
}

#app {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.box {
    width: 60px;
    height: 60px;
    background: lightcoral;
    margin: 5px;
}